html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}


/* ///////////////////// NAVBAR /////////////////////////// */

.navbar {
    background-color: #257DC8;
    /* padding: auto 5rem auto 5rem; */
}

.navbar img {
  width: 5em;
  /* margin-left: 0.5em; */
}

.navbar .nav-item {
  padding: 0.5em;
}

@media (max-width: 991px){
  .navbar img {
    margin-left: 0.5em;
  }
  .navbar .nav-item {
    padding: 0;
  }
}


/* ///////////////////// HOME SECTION /////////////////////////// */


#title-section {
   background-image: linear-gradient(to bottom right, #21C7D4, #257DC8);
   /* padding-top: 5em; */
}

/* try adding padding or margin to container-fluid instead */
#title-section form {
/* margin: 7em 15em auto 15em; */
margin-top: 5em;
width: 50%;
background: white;
padding: 1em;
box-shadow: 5px 5px 5px #E2DCC8;
}

#title-section button {
background-color: #257DC8;
}




 @media (max-width:1240px) {

    #title-section img {
    width: 100%;
    margin-top: 2em;

    }
  
    #title-section form {
     margin: auto 5em auto 5em;
     width: 70%;
    }

  }

@media (max-width:991px) {

  #title-section img {
    width: 100%;
    }

  #title-section{
    padding-bottom: 3em;
  }
  #title-section form {

    width: 100%;
    box-shadow: none;
  }
}


/* ///////////////////// FEATURES SECTION /////////////////////////// */


#FeaturesSection {
  text-align: center;
  background-color: #FFF5E4;
  padding: 5rem;
}

.featureIcon {
  font-size: 2.5rem;
}

.featureElement {
  margin: 10% auto;
  padding: 5%;
}

@media (max-width:991px) {
  .featureElement{
    padding: 10%;
    font-size: 0.9em;
  }
  .featureIcon,  #FeaturesSection h2{
    font-size: 2rem;
  }
}

@media (max-width: 300px){
  .featureElement{
    padding: 0;
  }
}

/* ///////////////////// COMPARISON SECTION /////////////////////////// */


#ComparisonSection {
  text-align: center;
  padding: 15%;
  background-image: linear-gradient(to bottom right, #257DC8, #21C7D4);
  margin: auto;
} 

#ComparisonSection .container{
  padding: 0;
  margin: auto;
}

table {
  box-shadow: 10px 10px 5px grey;
/* overflow: hidden; */
  background-color: #ADD8E6;
}

  
.table td{
  vertical-align: middle;
  background-color: white;
}

.table th{
  padding: 1rem;
}

.table .bottomRightCorner{
  border-radius: 0 0 0.5rem 0;
}




.checkMark{
  font-size: 1.5rem;
}

 

@media (max-width:991px)  {
  #ComparisonSection {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 0.8rem;
  }
  .table th{
    padding: 0.5em;
    font-size: 1rem;
    margin: 0;
  }
  .checkMark{
    font-size: 1.3em;
  }
}

@media (max-width: 300px){
  .table th{
    padding: 0;
    font-size: 0.6rem;
    margin: 0;
  }
  #ComparisonSection {
    margin: 0;
    padding: 1em 0 1em 0;
  }
  table {
    box-shadow: none;
  }
}



.container-container{
  background-color: white;
}

/* ///////////////////// REVIEWS SECTION /////////////////////////// */


#ReviewSection {
text-align: center;
/* background-color: #FF9551; */
background-color: #FFF5E4;
}

.carousel {
  margin: 10%;
  text-align: center;
}

.starIcons{
  color: #1c1c1c;
}

.carousel-indicators [data-bs-target] {
width: 1rem;
height: 1rem;
  border-radius: 100%;
  background-color: #1c1c1c;
}


.pfpPlaceholder{
  width: 15%;
  height: auto;
  margin: 1rem;
}

.itemContainer{
  /* background-color: #FF9551; */
  background-color: #FFF5E4;
  width: auto;
  height: 500px;
  padding: 5% 20%;
}

@media (max-width: 991px){
  .pfpPlaceholder{
    width: 25%;
    height: auto;
    margin: 0.5rem;
  }
  #ReviewSection h4, h1 {
    font-size: 1.2rem;
  }
  .carousel {
    margin: 5%;
  }
}

/* ///////////////////// PRICING SECTION /////////////////////////// */


#PricingSection{
  text-align: center;
  background-color:  #2787db;
  
  padding: 10%;
}

#PricingSection h1 {
  line-height: 10rem;
  color: #FFF5E4;
}

.card{
  margin: 1rem;
  font-size: 1rem;
  background-color: #FFF5E4;
}

.card-body{
  padding: 0;
}

.card-text{
  margin: 1rem;
}


#PricingSection li{
  font-size: 1.3rem;
  text-align: left;

}



#PricingSection a {
  margin: 1rem;
  vertical-align: center;
}

@media (max-width:991px){

  #PricingSection{
    padding: 10%;
  }


  #PricingSection h1 {
    line-height: 2rem;
    font-size: 2rem;
  }

  .card{
    margin: 1em 0 1em 0;
    font-size: 1rem;
  }

  .card-holder{
    padding: 0;
  }
  
  #PricingSection li{
  font-size: 1rem;
  text-align: left;

}

}

/* ///////////////////// FOOTER SECTION /////////////////////////// */


#FooterSection{
  /* position: relative; */
  /* width: 100%; */
  bottom: 0;
}



.supportBox{
  text-align: right;
}

@media (max-width: 767px){
  .supportBox{
    text-align: left;
  }
}


/* ///////////////////// SUPPORT SECTION /////////////////////////// */


.contactInfo {

}