html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}


/* ///////////////////// NAVBAR /////////////////////////// */

.navbar {
    background-color: #257DC8;
    padding: auto 5rem auto 5rem;
}

.navbar img {
  width: 5em;
  margin-left: 0.5em;
}

.nav-item {
  padding-left: 0.5em;
}


/* ///////////////////// HOME SECTION /////////////////////////// */


#homeSection {
   background-image: linear-gradient(to bottom right, #21C7D4, #257DC8);
   padding-top: 5em;
}

/* try adding padding or margin to container-fluid instead */
#homeSection form {
margin: 7em 15em auto 15em;
width: 50%;
background: white;
padding: 1em;
box-shadow: 5px 5px 5px #c7c7c7;
}

#homeSection button {
margin-right: 0.2em;
}



 @media (max-width:1240px) {

    .holdingPhone {
    width: 100%;
    margin-top: 5em;
    }
  
  
    #homeSection form {
     margin: auto 5em auto 5em;
    }

  }

@media (max-width:1000px) {

  .holdingPhone {
    width: 100%;
    }

  #homeSection{
    padding-top: 5em;
    padding: 0.75em;
  }

  #homeSection form {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: none;
  }
}

@media (max-width: 991px){
  #homeSection form{
     margin-bottom: 3em;
  }
}


/* ///////////////////// FEATURES /////////////////////////// */


#featuresSection {
  text-align: center;
  margin: 10%;
}

.featureIcon {
  font-size: 2.5rem;
}

.featureElement {
  margin: 10% auto 10% auto;
  padding: 5%;
}
@media (max-width:991px) {
  .featureElement {
    padding: 15%;
  }
}

/* ///////////////////// PRICING SECTION /////////////////////////// */


#ComparisonSection {
  text-align: center;
  padding: 15%;
  background-color: #21C7D4;
} 

#ComparisonSection .container{
  padding: 0;
}

table {
  box-shadow: 10px 10px 5px grey;
  background-color: #ADD8E6;
}

td{
  vertical-align: middle;
  background-color: white;
}

.table th{
  padding: 1rem;
  
}


.checkMark{
  font-size: 1.5rem;
}

 

@media (max-width:991px)  {
  #ComparisonSection {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 0.9rem;
  }
  

  .table th{
    padding: 0.5em;
    font-size: 1rem;
    margin: 0;
  }
  .checkMark{
    font-size: 1.3em;
  }
}


/* ///////////////////// REVIEWS SECTION /////////////////////////// */


#reviewSection {
text-align: center;
}

.carousel {
  margin: 10%;
  text-align: center;
}

.starIcons{
  color: white;
}

.carousel-indicators [data-bs-target] {
width: 1rem;
height: 1rem;
  border-radius: 100%;
}


.pfpPlaceholder{
  width: 15%;
  height: auto;
  margin: 1rem;
}

.itemContainer{
  background-color: orange;
  width: auto;
  height: 500px;
  padding: 5% 20%;
}

@media (max-width: 991px){
  .pfpPlaceholder{
    width: 25%;
    height: auto;
    margin: 0.5rem;
  }
  h4, h1 {
    font-size: 1.2rem;
  }
}
